#hero{
  background: #161D2F;

  .hero--general{
    p{
      padding-top: 30px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 30px;
      color: #FFFFFF;

    }
    h1{
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 62px;
      line-height: 150%;
      text-align: center;

      color: #FFFFFF;

    }

  }
  .des{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 5px;
    .btn {
      margin-left: 10px;
      padding: 10px 30px;
      border: 1px solid #FFFFFF;
      border-radius: 28px;
      background: #161D2F;
      color: #FFFFFF;
      transition: .4s;
    }

    .btn:hover {
      background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
    }
  }
  .hero--youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
}